.holder {
    display: flex;
    gap: 20px; /* spacing between items */
    flex-wrap: wrap; /* allows wrapping to next line */
  }

  .item {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: flex-start; /* top-align text */
    justify-content: flex-start; /* left-align text */
    font-size: 2em;
    color: black;
    padding: 10px;
    box-sizing: border-box;
  }

  .red { background-color: red; }
  .green { background-color: #3a7d3a; }
  .blue { background-color: blue; }